body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: flex-start; 
    height: 100vh; 
    color: #f0f0f0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* header {
    padding: 1rem;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}  */
.site-title {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding: 1rem; /* Add some padding */
    font-size: 1.5rem; /* Adjust the font size as needed */
    z-index: 20; /* Ensure it's above other content */
    background: none; /* No background */
    color: #f0f0f0; /* Adjust the color as needed */
}

#sidebar {
    color: white; /* Set text color to white */
    background: none; /* No background color */
    position: fixed; /* Fixed position */
    top: 50%; /* Start at the middle of the page */
    transform: translateY(-50%); /* Center it vertically */
    left: 0;
    width: 200px; /* Set a fixed width */
    z-index: 10; /* Ensure it's above the main content */
    padding: 1rem; /* Add some padding */
}

#sidebar a {
    color: inherit; /* Ensure links are white */
    text-decoration: none; /* Optional: Removes underline from links */
    display: block; /* Makes the links fill the container */
    margin: 0.5rem 0; /* Adds some vertical spacing between links */
}

#sidebar .button {
    background-color: transparent; /* No background for buttons */
    color: white; /* Text color for buttons */
    border: none; /* No borders */
}

#main-content {
    flex-grow: 1; 
    padding: 2rem; 
    margin-left: 200px; 
    margin-top: 60px; 
    box-sizing: border-box; 
}


.link-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-top: 5%;
}

div {
    padding: 1%;
}

.card {
    width: 80%;
    margin: 2rem auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
}
/* .blog-post {
    background-color: #fff;
    color: #333;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%; 
    margin: 2rem auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} */

/* #landing-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
}   */

