<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <img src="/static/IMG_2964.jpg" alt="A picture of me" style="display: block; margin: 0 auto; width:300px;height:auto;">
    <div id="about-section" class="card">
        <div class="card-content">
            <p>Hello, I'm Kyle Reynolds. I'm a Full Stack Software Engineer with a passion for creating simple solutions to complex problems. I have been working in software engineering for the last 5 years but I have been a computer nerd of all sorts since childhood. In my free time, I enjoy Golf, Fishing, and spending time with my family.</p>
            <br>
            <p>My current tech stack is Python, GoLang, HTMX, JavaScript, and a little bit of Rust.</p>
            <br>
            <p>I have a beautiful wife and two perfect little children.</p>
            <br>
            <p>This is a spot for me to release my thoughts into the ether, better out there than in here.</p>
        </div>
    </div>
</body>
</html>